
* {
  box-sizing: border-box;
}

:root {
  background-image: url(/starry-wallpaper.webp);
  color: white;
  font-family: monospace;
  --main-width: min(560px, 90vw);
}

body {
  margin: 0;
  background-color: #000000bb;
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
}

#main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--main-width) / 50);
}

#main-container h1 {
  margin: 0;
  color: white;
  font-size: calc(var(--main-width) / 18);
}

#zodiac {
  background-color: #ffffff15;
  width: var(--main-width);
  height: max-content;
  padding: calc(var(--main-width) / 30);
  border: calc(var(--main-width) / 200) solid white;
  border-radius: calc(var(--main-width) / 50);
  display: flex;
  flex-direction: column;
  gap: calc(var(--main-width) / 60);
}

#zodiac .label {
  color: #ffffffaa;
  font-size: calc(var(--main-width) / 35);
  font-weight: bold;
}

#zodiac-container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--main-width) / 100);
}

.zodiac-button {
  flex-grow: 1;
  background-color: transparent;
  padding: calc(var(--main-width) / 100);
  border: calc(var(--main-width) / 500) solid white;
  display: grid;
  place-content: center;
  color: white;
  font-family: inherit;
  font-size: calc(var(--main-width) / 33);
  font-weight: bold;
}

.zodiac-button:active {
  background-color: #ffffff45;
}

.zodiac-button.chosen {
  background-color: #aaddff60;
}

.zodiac-button.no-effect:active {
  background-color: none;
}

#date {
  background-color: #ffffff15;
  width: var(--main-width);
  height: calc(var(--main-width) / 7);
  border: calc(var(--main-width) / 200) solid white;
  border-radius: calc(var(--main-width) / 50);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--main-width) / 50);
}

#date .label {
  color: #ffffffaa;
  font-size: calc(var(--main-width) / 35);
  font-weight: bold;
}

#date input {
  background-color: #ffffff50;
  width: calc(var(--main-width) / 4);
  padding-inline: calc(var(--main-width) / 80);
  border: calc(var(--main-width) / 500) solid #ffffff99;
  font-size: calc(var(--main-width) / 37);
}

#date button {
  background-color: #aaddff60;
  width: calc(var(--main-width) / 15);
  height: calc(var(--main-width) / 15);
  border: none;
  border-radius: calc(var(--main-width) / 50);
  display: grid;
  place-content: center;
}

#date button:active {
  opacity: 70%;
}

#date svg {
  fill: white;
  width: calc(var(--main-width) / 25);
}

#content {
  background-color: #ffffff15;
  width: var(--main-width);
  height: calc(var(--main-width) / 1.3);
  border: calc(var(--main-width) / 200) solid white;
  border-radius: calc(var(--main-width) / 50);
  display: flex;
  flex-direction: column;
}

#content .top {
  padding-block: calc(var(--main-width) / 30);
  display: flex;
  border-bottom: calc(var(--main-width) / 300) solid gray;
  justify-content: center;
  align-items: center;
  gap: calc(var(--main-width) / 40);
}

#content .label {
  color: #ffffffaa;
  font-size: calc(var(--main-width) / 28);
  font-weight: bold;
}

#content .content-date {
  color: #aaddff;
  font-size: calc(var(--main-width) / 28);
  font-weight: bold;
}

#content .bottom {
  flex-grow: 1;
  padding: calc(var(--main-width) / 20) calc(var(--main-width) / 15);
  display: flex;
  flex-direction: column;
  gap: calc(var(--main-width) / 50);
}

#content .bottom span {
  display: grid;
  place-content: center;
  font-size: calc(var(--main-width) / 23);
  font-weight: bold;
}

#content article {
  text-align: center;
  font-size: calc(var(--main-width) / 30);
  display: grid;
  place-content: center;
}

.overflow-y-support {
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.overflow-y-support::-webkit-scrollbar {
  display: none;
}